					{% set commentid = "" %}
					{% set postid = "" %}
					{% set noresult = "" %}
					{% for comment in comments %} 
										<div class="row list_comment">
                                            <div class="col-xs-2 col-sm-2 avatar">

                                                <div class="pull-right">
												{% if comment.user.gender =='male' %}
                                                    <span style="color: #587fd8"><i class="fa fa-user"></i></span>
												{% endif %}
												{% if comment.user.gender =='female' %}
                                                    <span style="color: #C42EAF"><i class="fa fa-user"></i></span>
												{% endif %}
                                                </div>
                                            </div>
                                            <div class="point"></div>
                                            <div class="col-xs-9 col-sm-9 comment-text">
                                                <div class="comment-username">{{ comment.user.firstname }}<small>{% if comment.date %}-{{ comment.date|date('d.m.Y H:i') }}{% endif %}</small></div>

                                                {{ comment.text}} 
                                            </div>
                                        </div>
										{% set commentid =  comment.id  %}
										{% set postid =  comment.post.id %}
						{% else %}
					        <div class="msg"><span style="display:block; margin-bottom: 10px;"> <strong></strong> </span></div>
                            {% set noresult =  1 %}
						{% endfor %}

						{% if noresult != 1 %}
                            <div id="more{{commentid}}" class="morebox">
                                <a class="more btn btn-default" id="{{commentid}}">mehr Kommentare</a>
                                <input type="hidden" id="hidden{{commentid}}" name="{{postid}}">
                            </div>
						{% endif %}
