{% extends "SpottedHomeBundle::base.html.twig" %}

{% block head_title %}ZHAW Spotted{% endblock %}


{% block content %}

    <div class="row">
        <div id="menu_wrapper">
            <div id="menu" class="col-xs-12 col-sm-2 col-md-2">

                <div class="row">
                    <div class="col-xs-12 col-md-12" style="padding:20px;">
                        <div id="logo">
                            <a href="/"  style="width: 100%; height: 100%; display: block;">

                            </a>
                        </div>
                    </div>
                </div>

                <a class="link" href="{{ path('spotted_home_homepage') }}">Home</a>

                <a class="link" href="{{ path('user_logout') }}">Logout</a>

                <div id="search">
                    <form id="search" action="/search" method="get">
                        <input type="text" placeholder="search..." size="40" value="" name="q" class="form-control">
                    </form>
                </div>
            </div>
        </div>


        <div id="canvas" class="col-xs-12 col-sm-10 col-md-10">
            <div style="padding: 0 15px">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12">
                        <div class="new_item container">
                            <div class="head row">
							
                                <h1>Flirt verpasst? Wir geben dir eine zweite Chance!</h1>
                            </div>
                            <div class="row">
                                <div class="content container">

                                    <button type="button" class="close" id="new_item_close" style="display: none; font-size: 30px; position: absolute; right: 23px;" aria-hidden="true">&times;</button>
                                     <form id="new_item_form" action="{{ path('spotted_homeform_submission') }}" name="form" method="post">

                                        <div class="row">
                                            <textarea placeholder="TRAU DICH, SCHREIBE DEINEM FLIRT!" name="text" class="message_text" required="required" id="form_message"></textarea>
                                        </div>
                                        <div class="row">
                                            <div id="new_item_div" class="container">
                                                <div class="row">
                                                    <div class="col-xs-2">
                                                        <label>Dein Geschlecht</label>
                                                        <div class="form-group">
                                                            <div class="btn-group" data-toggle="buttons">
                                                                <label class="btn btn-default" data-placement="bottom" data-toggle="tooltip" data-original-title="weiblich" data-container="body">
                                                                    <input type="radio" name="geschlecht" value="f" id="option1"> <i class="fa fa-female"></i>
                                                                </label>
                                                                <label class="btn btn-default" data-placement="bottom" data-toggle="tooltip" data-original-title="männlich" data-container="body">
                                                                    <input type="radio" name="geschlecht" value="m" id="option2"> <i class="fa fa-male"></i>
                                                                </label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-xs-5">
                                                        <div class="form-group">
                                                            <label for="Location">Location</label>
                                                            <input type="text" class="typeahead form-control" name="location" id="Location" placeholder="Location">
                                                        </div>
                                                    </div>
                                                    <div class="col-xs-5">
                                                        <div class="pull-right">
                                                            <label>Tag</label>
                                                            <div class="form-group">
                                                                <div class="btn-group" data-toggle="buttons">
																{% for tag in tags|slice(0, 8) %}
																	<label class="btn btn-danger" data-placement="bottom" data-toggle="tooltip" data-original-title="{{ tag.name }}" data-container="body">
                                                                        <input type="radio" required="required" value="{{ tag.id }}" name="tags" id="option{{ tag.id }}"> <i class="{{ tag.iconclass }}"></i>
                                                                    </label>  
																{% endfor %}
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-xs-12" style="margin-top: 20px">
                                                        <button type="submit" class="btn btn-default btn-block pull-right">Finde deinen Flirt!</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <hr>
                <div id="message_filter" class="row">
                    <div class="container">
                        <div class="row" style="margin-bottom: 10px;">
                            <div class="col-xs-12">
                                <input type="text" class="form-control" id="filter_location" placeholder="Location">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-2">
                                <div class="btn-group-vertical" data-toggle="buttons">
										<label class="btn">
											<input type="radio" value="w" name="filtersleft" id="option1"> <i class="fa fa-female"></i> Sie sucht
										</label>
										<label class="btn">
											<input type="radio" value="m" name="filtersleft" id="option2"> <i class="fa fa-male"></i> Er sucht
										</label>
                                </div>
                            </div>
                            <div class="col-xs-10">
                                <div class="btn-group" data-toggle="buttons">
                                    {% for tag in tags %}
										<label class="btn">
											<input type="radio" value="{{ tag.id }}" name="filtersright" id="filterright{{ tag.id }}"> <i class="{{ tag.iconclass }}"></i> {{ tag.name }}
										</label>
									{% endfor %}

                                </div>
                            </div>
                        </div>

                    </div>
                </div>
				{% for entity in entities %}
                <div  class="row">
                    <div id="item_wrapper" class="container">
                        <div class="item col-xs-12 col-sm-6 col-md-6">
                            <div class="spotted-message">
                                <h2 class="spotted-title">
                                    <a href="#">
                                        <strong>{{ entity.location.name }}</strong>, {{ entity.tags.name }}
                                    </a>
                                </h2>
                                <div class="datum">
                                    <i class="glyphicon glyphicon-time"></i>{% if entity.date %}{{ entity.date|date('d.m.Y H:i') }}{% endif %}
                                </div>
                                <div class="gender">
								{% if entity.gender =='w' %}
                                    <img src="{{ asset('bundles/spottedhome/images/female.png') }}" />
								{% endif %}
								{% if entity.gender =='m' %}
                                    <img src="{{ asset('bundles/spottedhome/images/male.png') }}" />
								{% endif %}
                                </div>
                                <div style="cursor:pointer;" link="/M%C3%BCnchen/Richard%20Strau%C3%9F%20Stra%C3%9Fe/49882" class="text-main">
                                    {% if entity.gender =='w' %}
									<font color="#C42EAF"><strong>Sie:</strong></font>
									{% endif %}
									{% if entity.gender =='m' %}
									<font color="#587fd8"><strong>Er:</strong></font>
									{% endif %}
									
                                    {{ entity.text }}
                                </div>

                            </div>
                            <div class="spotted-details container">
                                <div class="row">
                                    <div class="box comment">
                                        <i class="glyphicon glyphicon-comment"></i>
                                    </div>
                                    <div class="box box-spotted">
                                        Das bin ich! <img src="{{ asset('bundles/spottedhome/images/match.png') }}" />
                                    </div>
                                </div>
                            </div>
                        </div>
						{% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
