{% extends "SpottedHomeBundle::base.html.twig" %}

{% block head_title %}My cool HTML5 website!!{% endblock %}

{% block content %}

    <div class="row">
        <div id="menu_wrapper">
            <div id="menu" class="col-xs-12 col-sm-2 col-md-2">

                <div class="row">
                    <div class="col-xs-12 col-md-12" style="padding:20px;">
                        <div id="logo">
                            <a href="/"  style="width: 100%; height: 100%; display: block;">

                            </a>
                        </div>
                    </div>
                </div>

                <a class="link" href="{{ path('spotted_home_homepage') }}">Home</a>

                <a class="link" href="{{ path('user_logout') }}">Logout</a>

                <div id="search">
                    <form id="search" action="/search" method="get">
                        <input type="text" placeholder="search..." size="40" value="" name="q" class="form-control">
                    </form>
                </div>
            </div>
        </div>


        <div id="canvas" class="col-xs-12 col-sm-10 col-md-10">
            <div style="padding: 0 15px">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12">
                        <div class="new_item container">
                            <div class="head row">
                                <h1>Flirt verpasst? Wir geben dir eine zweite Chance!</h1>
                            </div>
                            <div class="row">
                                <div class="content container">
                                    <form id="new_item_form">
                                        <div class="row">
                                            <textarea placeholder="TRAU DICH, SCHREIBE DEINEM FLIRT!" class="message_text" required="required" id="form_message"></textarea>
                                        </div>
                                        <div class="row">
                                            <div id="new_item_div" class="container">
                                                <div class="row">
                                                    <div class="col-xs-2">
                                                        <label>Dein Geschlecht</label>
                                                        <div class="form-group">
                                                            <div class="btn-group" data-toggle="buttons">
                                                                <label class="btn btn-default" data-placement="bottom" data-toggle="tooltip" data-original-title="weiblich" data-container="body">
                                                                    <input type="radio" name="options" id="option1"> <i class="icon icon-female"></i>
                                                                </label>
                                                                <label class="btn btn-default" data-placement="bottom" data-toggle="tooltip" data-original-title="männlich" data-container="body">
                                                                    <input type="radio" name="options" id="option2"> <i class="icon icon-male"></i>
                                                                </label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-xs-6">
                                                        <div class="form-group">
                                                            <label for="Location">Location</label>
                                                            <input type="text" class="form-control" id="Location" placeholder="Location">
                                                        </div>
                                                    </div>
                                                    <div class="col-xs-4">
                                                        <div class="pull-right">
                                                            <label>Tags</label>
                                                            <div class="form-group">
                                                                <div class="btn-group" data-toggle="buttons">
                                                                    <label class="btn btn-danger" data-placement="bottom" data-toggle="tooltip" data-original-title="Mensa" data-container="body">
                                                                        <input type="radio" name="options" id="option1"> <i class="glyphicon glyphicon-cutlery"></i>
                                                                    </label>
                                                                    <label class="btn btn-danger" data-placement="bottom" data-toggle="tooltip" data-original-title="Party" data-container="body">
                                                                        <input type="radio" name="options" id="option2"> <i class="icon icon-glass"></i>
                                                                    </label>
                                                                    <label class="btn btn-danger" data-placement="bottom" data-toggle="tooltip" data-original-title="Auf dem Weg" data-container="body">
                                                                        <input type="radio" name="options" id="option3"> <i class="icon icon-road"></i>
                                                                    </label>
                                                                    <label class="btn btn-danger" data-placement="bottom" data-toggle="tooltip" data-original-title="Pausenraum" data-container="body">
                                                                        <input type="radio" name="options" id="option2"> <i class="icon icon-coffee"></i>
                                                                    </label>
                                                                    <label class="btn btn-danger" data-placement="bottom" data-toggle="tooltip" data-original-title="Klassenzimmer" data-container="body">
                                                                        <input type="radio" name="options" id="option2"> <i class="icon icon-superscript"></i>
                                                                    </label>
                                                                    <label class="btn btn-danger" data-placement="bottom" data-toggle="tooltip" data-original-title="Irgendwo sonst im Gebäude" data-container="body">
                                                                        <input type="radio" name="options" id="option3"> <i class="icon icon-building"></i>
                                                                    </label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-xs-12" style="margin-top: 20px">
                                                        <button type="submit" class="btn btn-default btn-block pull-right">Finde deinen Flirt!</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <hr>
                <div id="message_filter" class="row">
                    <div class="container">
                        <div class="row" style="margin-bottom: 10px;">
                            <div class="col-xs-12">
                                <input type="text" class="form-control" id="filter_location" placeholder="Location">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-2">
                                <div class="btn-group-vertical" data-toggle="buttons">
                                    <label class="btn">
                                        <input type="radio" name="options" id="option1"> <i class="icon icon-female"></i> Sie sucht
                                    </label>
                                    <label class="btn">
                                        <input type="radio" name="options" id="option2"> <i class="icon icon-male"></i> Er sucht
                                    </label>
                                </div>
                            </div>
                            <div class="col-xs-10">
                                <div class="btn-group" data-toggle="buttons">
                                    <label class="btn">
                                        <input type="radio" name="options" id="option1"> <i class="icon icon-heart"></i> Alle
                                    </label>
                                    <label class="btn">
                                        <input type="radio" name="options" id="option1"> <i class="glyphicon glyphicon-cutlery"></i> Mensa
                                    </label>
                                    <label class="btn">
                                        <input type="radio" name="options" id="option2"> <i class="icon icon-glass"></i> Party
                                    </label>
                                    <label class="btn">
                                        <input type="radio" name="options" id="option3"> <i class="icon icon-road"></i> Auf dem Weg
                                    </label>
                                    <label class="btn">
                                        <input type="radio" name="options" id="option2"> <i class="icon icon-coffee"></i> Pausenraum
                                    </label>
                                    <label class="btn">
                                        <input type="radio" name="options" id="option2"> <i class="icon icon-superscript"></i> Im Klassenzimmer
                                    </label>
                                    <label class="btn">
                                        <input type="radio" name="options" id="option3"> <i class="icon icon-building"></i> Irgendwo sonst im Gebäude
                                    </label>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                <div  class="row">
                    <div id="item_wrapper" class="container">
                        <div class="item col-xs-12 col-sm-6 col-md-6">
                            <div class="spotted-message">
                                <h2 class="spotted-title">
                                    <a href="#">
                                        <strong>SW (Winterthur)</strong>, 3. Stock
                                    </a>
                                </h2>
                                <div class="datum">
                                    <i class="glyphicon glyphicon-time"></i> vor 8 Stunden
                                </div>
                                <div class="gender">
                                    <img src="{{ asset('bundles/spottedhome/images/female.png') }}" />
                                </div>
                                <div style="cursor:pointer;" link="/M%C3%BCnchen/Richard%20Strau%C3%9F%20Stra%C3%9Fe/49882" class="text-main">
                                    <font color="#C42EAF"><strong>Sie:</strong></font>
                                    Du (m) rote Augen und grüne Haare im gelben Neoprenanzug. Habe dich heute im 3. Stock gesehen. Du bist mir sofort aufgefallen ;) Bitte melde dich bei mir 4>
                                </div>

                            </div>
                            <div class="spotted-details container">
                                <div class="row">
                                    <div class="box comment">
                                        <i class="glyphicon glyphicon-comment"></i>
                                    </div>
                                    <div class="box box-spotted">
                                        Das bin ich! <img src="{{ asset('bundles/spottedhome/images/match.png') }}" />
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="item col-xs-12 col-sm-6 col-md-6">
                            <div class="spotted-message">
                                <h2 class="spotted-title">
                                    <a href="#">
                                        <strong>TECH (Winterthur)</strong>, Mensa
                                    </a>
                                </h2>
                                <div class="datum">
                                    <i class="glyphicon glyphicon-time"></i> vor 2 Stunden
                                </div>
                                <div class="gender">
                                    <img src="{{ asset('bundles/spottedhome/images/male.png') }}" />
                                </div>
                                <div style="cursor:pointer;" link="/M%C3%BCnchen/Richard%20Strau%C3%9F%20Stra%C3%9Fe/49882" class="text-main">
                                    <font color="#587fd8"><strong>Er:</strong></font>
                                    Du (w) Scharze Haare, Schwarze Lederjacke, Chucks und Leggins warst heute in der U4 Richtung Arabellapark und bist an der Richard Strauß Straße ausgestiegen. Du warst in Begleitung der Mutter sie trug eine Pinke Plüschweste und zog einen Rollwagen hinter sich her. Bitte melde dich, es würde mich sehr freuen!!!
                                </div>

                            </div>
                            <div class="spotted-details container">
                                <div class="row">
                                    <div class="box comment">
                                        <i class="glyphicon glyphicon-comment"></i>
                                    </div>
                                    <div class="box box-spotted">
                                        Das bin ich! <img src="{{ asset('bundles/spottedhome/images/match.png') }}" />
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="item col-xs-12 col-sm-6 col-md-6">
                            <div class="spotted-message">
                                <h2 class="spotted-title">
                                    <a href="#">
                                        <strong>TECH (Winterthur)</strong>, Mensa
                                    </a>
                                </h2>
                                <div class="datum">
                                    <i class="glyphicon glyphicon-time"></i> vor 2 Stunden
                                </div>
                                <div class="gender">
                                    <img src="{{ asset('bundles/spottedhome/images/male.png') }}" />
                                </div>
                                <div style="cursor:pointer;" link="/M%C3%BCnchen/Richard%20Strau%C3%9F%20Stra%C3%9Fe/49882" class="text-main">
                                    <font color="#587fd8"><strong>Er:</strong></font>
                                    Du (w) Scharze Haare, Schwarze Lederjacke, Chucks und Leggins warst heute in der U4 Richtung Arabellapark und bist an der Richard Strauß Straße ausgestiegen. Du warst in Begleitung der Mutter sie trug eine Pinke Plüschweste und zog einen Rollwagen hinter sich her. Bitte melde dich, es würde mich sehr freuen!!!
                                </div>

                            </div>
                            <div class="spotted-details container">
                                <div class="row">
                                    <div class="box comment">
                                        <i class="glyphicon glyphicon-comment"></i>
                                    </div>
                                    <div class="box box-spotted">
                                        Das bin ich! <img src="{{ asset('bundles/spottedhome/images/match.png') }}" />
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="item col-xs-12 col-sm-6 col-md-6">
                            <div class="spotted-message">
                                <h2 class="spotted-title">
                                    <a href="#">
                                        <strong>TECH (Winterthur)</strong>, Mensa
                                    </a>
                                </h2>
                                <div class="datum">
                                    <i class="glyphicon glyphicon-time"></i> vor 2 Stunden
                                </div>
                                <div class="gender">
                                    <img src="{{ asset('bundles/spottedhome/images/male.png') }}" />
                                </div>
                                <div style="cursor:pointer;" link="/M%C3%BCnchen/Richard%20Strau%C3%9F%20Stra%C3%9Fe/49882" class="text-main">
                                    <font color="#587fd8"><strong>Er:</strong></font>
                                    Du (w) Scharze Haare, Schwarze Lederjacke, Chucks und Leggins warst heute in der U4 Richtung Arabellapark und bist an der Richard Strauß Straße ausgestiegen. Du warst in Begleitung der Mutter sie trug eine Pinke Plüschweste und zog einen Rollwagen hinter sich her. Bitte melde dich, es würde mich sehr freuen!!!
                                </div>

                            </div>
                            <div class="spotted-details container">
                                <div class="row">
                                    <div class="box comment">
                                        <i class="glyphicon glyphicon-comment"></i>
                                    </div>
                                    <div class="box box-spotted">
                                        Das bin ich! <img src="{{ asset('bundles/spottedhome/images/match.png') }}" />
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="item col-xs-12 col-sm-6 col-md-6">
                            <div class="spotted-message">
                                <h2 class="spotted-title">
                                    <a href="#">
                                        <strong>TECH (Winterthur)</strong>, Mensa
                                    </a>
                                </h2>
                                <div class="datum">
                                    <i class="glyphicon glyphicon-time"></i> vor 2 Stunden
                                </div>
                                <div class="gender">
                                    <img src="{{ asset('bundles/spottedhome/images/male.png') }}" />
                                </div>
                                <div style="cursor:pointer;" link="/M%C3%BCnchen/Richard%20Strau%C3%9F%20Stra%C3%9Fe/49882" class="text-main">
                                    <font color="#587fd8"><strong>Er:</strong></font>
                                    Du (w) Scharze Haare, Schwarze Lederjacke, Chucks und Leggins warst heute in der U4 Richtung Arabellapark und bist an der Richard Strauß Straße ausgestiegen. Du warst in Begleitung der Mutter sie trug eine Pinke Plüschweste und zog einen Rollwagen hinter sich her. Bitte melde dich, es würde mich sehr freuen!!!
                                </div>

                            </div>
                            <div class="spotted-details container">
                                <div class="row">
                                    <div class="box comment">
                                        <i class="glyphicon glyphicon-comment"></i>
                                    </div>
                                    <div class="box box-spotted">
                                        Das bin ich! <img src="{{ asset('bundles/spottedhome/images/match.png') }}" />
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="item col-xs-12 col-sm-6 col-md-6">
                            <div class="spotted-message">
                                <h2 class="spotted-title">
                                    <a href="#">
                                        <strong>TECH (Winterthur)</strong>, Mensa
                                    </a>
                                </h2>
                                <div class="datum">
                                    <i class="glyphicon glyphicon-time"></i> vor 2 Stunden
                                </div>
                                <div class="gender">
                                    <img src="{{ asset('bundles/spottedhome/images/male.png') }}" />
                                </div>
                                <div style="cursor:pointer;" link="/M%C3%BCnchen/Richard%20Strau%C3%9F%20Stra%C3%9Fe/49882" class="text-main">
                                    <font color="#587fd8"><strong>Er:</strong></font>
                                    Du (w) Scharze Haare, Schwarze Lederjacke, Chucks und Leggins warst heute in der U4 Richtung Arabellapark und bist an der Richard Strauß Straße ausgestiegen. Du warst in Begleitung der Mutter sie trug eine Pinke Plüschweste und zog einen Rollwagen hinter sich her. Bitte melde dich, es würde mich sehr freuen!!!
                                </div>

                            </div>
                            <div class="spotted-details container">
                                <div class="row">
                                    <div class="box comment">
                                        <i class="glyphicon glyphicon-comment"></i>
                                    </div>
                                    <div class="box box-spotted">
                                        Das bin ich! <img src="{{ asset('bundles/spottedhome/images/match.png') }}" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </dvi>
    </div>

{% endblock %}
