{% extends "OryzoneBoilerplateBundle::html5.html.twig" %}

{% block head_css %}

    {{ parent() }}
    
    <!-- Bootstrap -->

    <link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/bmatznerfontawesome/css/font-awesome.min.css') }}" />

    {% stylesheets 'bundles/spottedhome/css/*' filter='cssrewrite' output='css/*.css' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}

    <link type="text/css" rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,700">
    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:200' rel='stylesheet' type='text/css'>

    <!-- Favicon-->
    <link rel="apple-touch-icon" href="{{ asset('bundles/spottedhome/images/favicon.ico') }}">
    <link rel="icon" href="{{ asset('bundles/spottedhome/images/favicon.ico') }}">

{% endblock %}

{% block body_container %}

  {#  <div id="style-selector">
        <div class="title-ss">Style Selector</div>
        <div class="box-ss">Choose Background</div>
        <div class="box-ss pad1">
            <select name="Layout" id="bg-list" class="form-control">
                <option data-url="http://static.tumblr.com/70d92089993cff5fbf6a89638b287863/ky1rrhj/iLBmtlqn9/tumblr_static_image.jpg">Standard</option>
                <option data-url="{{ asset('bundles/spottedhome/images/bg/DSC08382.JPG') }}">Mensa</option>
                <option data-url="{{ asset('bundles/spottedhome/images/bg/DSC08385.JPG') }}">Pausenraum</option>
                <option data-url="{{ asset('bundles/spottedhome/images/bg/DSC08398.JPG') }}">Haupt Eingang 1</option>
                <option data-url="{{ asset('bundles/spottedhome/images/bg/DSC08402.JPG') }}">Haupt Eingang 2</option>
                <option data-url="{{ asset('bundles/spottedhome/images/bg/DSC08443.JPG') }}">Nacht</option>
            </select>
        </div>
    </div>

    <div id="t-row-right-ss">
        <i class="fa fa-cog"></i>
    </div>

    <div id="t-row-left-ss">
        <i class="fa fa-cog"></i>
    </div>#}

    {% block container_content %}
        <div class="container" style="min-height:600px;">
            <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    {% block nav_mobile_content %} {% endblock %}
                    <a class="navbar-brand" id="nav_logo" href="{{ path('spotted_secured_homepage') }}">Spotted</a>
                </div>
                {% block nav_content %} {% endblock %}
            </nav>
            {% block content %} {% endblock %}
        </div>
    {% endblock %}

    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-6">
                    <div class="footer-box">
                        <div class="footer-box-icon">
                            <i class="fa fa-info-circle"></i>
                        </div>
                        <div class="footer-box-text">
                            <div class="footer-box-text-header">
                                Was ist Spotted?
                            </div>
                            <div class="footer-box-text-content">
                                Ein kurzes Lächeln an der Studenten-Party? Ein intensiver Blickaustausch in der Cafeteria? Leider aber hast Du die
                                passende Gelegenheit zum Ansprechen verpasst? - Kein Problem, Spotted gibt Dir eine zweite Chance!<br/>
                                <br/>
                                Nutze deine Chance und finde Deinen Flirt!
                                Erfasse bei uns einen anonymen Beitrag mit Ort und Deiner Geschichte - den Rest erledigt Spotted.<br/>
                                <br/>
                                Die Plattform ist ausschliesslich für Studenten der ZHAW gedacht.
                                Mitmachen können grundsätzlich alle Studierende der ZHAW. Egal ob Du in Wädenswil, Winterthur oder Zürich studierst, registriere
                                Dich ganz einfach mit deiner ZHAW-Emailadresse.

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6">
                    <div class="footer-box">
                        <div class="footer-box-icon">
                            <i class="fa fa-users"></i>
                        </div>
                        <div class="footer-box-text">
                            <div class="footer-box-text-header">
                                Wie funktioniert Spotted?
                            </div>
                            <div class="footer-box-text-content">
                                Die neusten Beiträge findest du direkt auf der Startseite.
                                Es lohnt sich dabei stets auf dem Laufenden zu bleiben - Vielleicht wirst Du ja gerade gespotted?<br/>
                                <br/>
                                Wenn Du dich in einem Beitrag erkannt hast und antworten willst, dann klick einfach auf "Das bin ich!"
                                und melde Dich direkt via Mail.<br/>
                                <br/>
                                Kommentare anderer Studenten helfen Dir Deinen Flirt zu finden. Über neue
                                Hinweise zu Deinen Beiträgen wirst Du über "Meine Neuigkeiten" informiert.<br/>
                                <br/>
                                Ein Beitrag hat deine Neugierdie geweckt? Füge ihr ganz einfach zu deiner "Watchlist" hinzu und verfolge ihn so lange du willst.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {#<div class="row">
                <div class="col-xs-12">
                    <div class="footer-recommendation">
                        <div class="footer-recommendation-img">
                            <img src="{{ asset('bundles/spottedhome/images/fabian.jpg') }}" alt="Founder"/>
                        </div>
                        <div class="footer-recommendation-text">
                            "Spotted ist die neue Art zu Flirten"
                        </div>
                    </div>
                </div>
            </div>#}
            <div class="row">
                <div id="copyright" class="col-xs-12">
                    ©2013 Spotted, All Rights Reserved.
                </div>
            </div>
        </div>
    </div>
{% endblock %}





{% block body_js %}
    {{ parent() }}
	
    <script src="{{ asset('js/bootstrap.js') }}"></script>
	<script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
	<script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
    {% javascripts '@SpottedHomeBundle/Resources/public/js/*' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
	
	


<script type="text/javascript">
window.fbAsyncInit = function() {
    FB.init({
        appId      : '542881899137127',
        status     : true,
        cookie     : true,
        xfbml      : true
    });

    FB.Event.subscribe('auth.login', function(response) {
        window.location.reload();
    });
};

function onFacebookConnect() {
    window.location.reload();
}

(function(d){
    var js, id = 'facebook-jssdk'; if (d.getElementById(id)) {return;}
    js = d.createElement('script'); js.id = id; js.async = true;
    js.src = "//connect.facebook.net/en_US/all.js";
    d.getElementsByTagName('head')[0].appendChild(js);
}(document));
</script>

{% endblock %}