
{% for entity in entities %}
                            <div class="item col-xs-12 col-sm-12 col-md-6">
                                <div class="spotted-message">
                                    <h2 class="spotted-title">
                                        <a href="#">
                                            <strong>{{ entity.post.location.name }} ({{ entity.post.location.city.name }})</strong>, {{ entity.post.tags.name }}
                                        </a>
                                    </h2>
                                    <div class="datum">
                                        <i class="fa fa-clock-o"></i>{% if entity.post.date %}{{ entity.post.date|date('d.m.Y H:i') }}{% endif %}
                                    </div>
                                    <div class="gender">
                                    {% if entity.post.gender =='female' %}
                                        <img src="{{ asset('bundles/spottedhome/images/female.png') }}" />
                                    {% endif %}
                                    {% if entity.post.gender =='male' %}
                                        <img src="{{ asset('bundles/spottedhome/images/male.png') }}" />
                                    {% endif %}
                                    </div>
                                    <div style="cursor:pointer;" class="text-main">
                                        {% if entity.post.gender =='female' %}
                                        <span style="color: #C42EAF"><strong>Sie:</strong></span>
                                        {% endif %}
                                        {% if entity.post.gender =='male' %}
                                        <span style="color: #587fd8"><strong>Er:</strong></span>
                                        {% endif %}

                                        {{ entity.post.text }}
                                    </div>
                                </div>
                                <div class="spotted-slidedown spotted-comments">
                                    <div class="container">
                                        <div class="row" style="margin-bottom: 10px;">
                                            <div class="col-xs-12">
                                                <h4>Kommentare:</h4>
                                            </div>
                                        </div>
										{% include "SpottedHomeBundle:Comment:index.html.twig" with { 'postid': entity.id } %}
                                    </div>

                                    <div class="add_comment container">
                                        <div class="row">
                                            <textarea id="txthint" name="txthint" required="required" placeholder="Schreibe einen Hinweis..." maxlength="255"></textarea>
											<input type="hidden" id="postid" name="postid" value="{{ entity.post.id }}">
                                        </div>
                                        <div class="row" style="margin-top: 10px">
                                            <div class="col-xs-12">
                                                <button class="btn btn-danger pull-right" type="submit">Kommentieren</button>
                                            </div>
                                        </div>
                                    </div>

                                </div>

                                <div class="spotted-slidedown spotted-match">
                                    <div class="container">
                                        <div class="row" style="margin-bottom: 10px;">
                                            <div class="col-xs-12">
                                                <h4>Ausgezeichnet! Ihr habt euch gefunden:</h4>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <textarea style="height: 140px;" class="message_text" required="required" placeholder="Schreibe deine Nachricht..."></textarea>
                                        </div>
                                        <div class="row" style="margin-top: 10px">
                                            <div class="col-xs-12">
                                                <button class="btn btn-danger pull-right" type="submit">E-Mail senden</button>
                                            </div>
                                        </div>
                                    </div>

                                </div>

                                <div class="spotted-details container">
                                    <div class="row">
                                        <div class="box comment" data-placement="top" data-toggle="tooltip" data-original-title="Kommentieren">
                                            <i class="fa fa-comment"></i>
                                        </div>
                                        
                                        <div class="box box-spotted">
                                            Das bin ich! <img src="{{ asset('bundles/spottedhome/images/match.png') }}" />
                                        </div>
                                    </div>
                                </div>
                            </div>
					</div>
							 
							
							{% else %}
					<strong>Keine Posts wurden gefunden!</strong>
					
    
                        {% endfor %}
					